[submodule "freefolk-youtube"]
	path = freefolk-youtube
	url = git@github.com:seirius/freefolk-youtube.git
[submodule "freefolk-web"]
	path = freefolk-web
	url = git@github.com:seirius/freefolk-web.git